:root {
  --bg-color: #e8e9ea;
  --secondary-bg-color: #fff;
  --hastag-bg-color: #F5F7F8;
  --main-text-color: #252222;
  --secondary-text-color: #7c7a7a;
  --main-color: #D04C4C;
  --soft-border-color: #e8e8e8;
  --successfully-color: #52c41a;
  --error-color: #ff4d4f;
}
.pointer {
  cursor: pointer;
}
img, video{
    width: 100%;
}
body {
  background-color: var(--bg-color);
}
.App {
  padding: 0 4em;
}